/*
 * Enlève les margins par défault du body
 */
body {
    margin: 0;
}

/*
 * Main est la div qui contient les cadres principaux
 * Ici, on centre les cadres principaux, on les aligne et met un background
 */
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e8e8e8;
    height: 100vh; /* Permet de forcer le main à prendre tout l'écran */
}

/*
 * Définit le style par défaut des cadres principaux (box shadow, height, et alignement
 */
main > * {
    display: flex;
    flex-direction: column;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
 * main > div est la div de 800 - 600 px qui contient les messages + le formulaire
 */
main > div {
    width: 800px;
    justify-content: space-between;
    background-color: white;
}

/*
 * Le Aside correspond au panneau latéral des connexions
 */
aside {
    min-width: 150px;
    width: 15%;
    max-width: 200px;
    padding: 5px;
    background-color: white;
    overflow: scroll;
}

/*
 * Chaque partie correspondant à chaque personne connectée s'espacent verticalement des autres
 */
aside > * {
    margin: 4px 0;
}

/*
 * DivDesMessages c'est la div qui contient tous les messages
 * Met de l'espace entre la border et le texte + barre de scroll
 */
#divDesMessages {
    padding: 10px;
    overflow-y: scroll;
}

/*
 * Met chaque message sur une ligne
 */
article {
    display: flex;
}

/*
 * Espace horizontal entre la date, le nom, et le message
 * word break pour sauter la ligne quand le mot dépasse le cadre
 */
article > * {
    margin: 0 3px;
    word-break: break-word;
}

/*
 * La date en gras et anti-saut-de-ligne pour la date
 */
article div:first-child {
    font-weight: bold;
    white-space: nowrap;
}

/*
 * Le sender en italic et anti-saut-de-ligne pour le pseudo
 */
article div:nth-child(2) {
    font-style: italic;
    white-space: nowrap;
}

/*
 * Balise pour envoyer le message
 */
form {
    height: 80px;
    display: flex;
    border-top: solid 3px lightgray;
}

/*
 * Le nom de l'utilisateur
 */
form > div:first-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    font-variant-caps: small-caps;
}

/*
 * L'input du message
 */
#messageInput {
    flex-grow: 5;
    border: none;
}

/*
 * Le submit
 */
#submit {
    flex-grow: 1;
    border-radius: 0;
}

